/*Common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --db-black: #000000;
    --db-white: #ffffff;
    --db-white-50: rgba(255, 255, 255, 0.5);
    --db-primary: #B4D0E7;
    --db-btn: #0061FF;
    --db-business: #61082B;
    --db-links: #2C2CF1;
    --db-logo1: #A2D39B;
    --db-effectl1: #D1E9CD;
    --db-logo2: #61082B;
    --db-logo3: #0093CE;
    --db-logo4: #FF1C1C;
    --db-logo5: #D5001F;
    --db-logo6: #B4D0E7;
    --db-logo7: #0D2481;
    --db-logo8: #FFD830;
    --db-popup: #F5F5F5;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

/*Debug*/

/* .debug #planrow{
    background-color: var(--db-logo5);
} */

/*Utilities*/

.container{
    margin: auto;
    width: 80%;
    max-width: 1170px;
}

.container-sm{
    margin: auto;
    width: 60%;
}

p{
    line-height: 1.5rem;
}

.d-flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.py-5{
    padding: 5px;
}

.py-50{
    padding: 50px 0;
}

.pyb-50{
    padding-bottom: 50px;
}

.p-20{
    padding: 20px;
}

.py-20{
    padding: 0 20px;
}

.pyb-20{
    padding-bottom: 20px;
}

.mt-30{
    margin-top: 30px;
}

.ml-10{
    margin-left: 10px;
}

.mbt-30{
    margin: 30px 0;
}

.mbt-40{
    margin: 40px 0;
}
/*Header*/

header{
    max-height: 70px;
    background-color: var(--db-white);
}

.topleftnav a, .toprightnav a{
    text-decoration: none;
    color: var(--db-black);
    font-size: 13px;
    padding: 15px;
}

.btn1{
    background-color: var(--db-btn);
    color: var(--db-white);
    border: none;
    padding: 6px 13px;
    font-size: 13px;
}

/*Main*/

#site_main{
    height: 100vh;
    overflow: auto;
    background-color: var(--db-white);
}

#jumbotron{
    height: 700px;
    background-color: var(--db-primary);
}

#jumbotron h1{
    font-size: 70px;
}

#site_main .container{
    height: 700px;
    padding: 70px 0;
}

.btn2{
    width: 100px;
    height: 25px;
    background-color: var(--db-btn);
    color: var(--db-white);
    text-decoration: none;
    padding: 10px;
}

.arrow{
    text-decoration: none;
    color:var(--db-black)
}

.card img{
    width: 850px;
}

#plans{
    padding: 100px 0;
}

#plans h2{
    padding: 50px 0;
    font-size: 35px;
}

#fa{
    margin-left: 40px;
}

input[type='radio'] { 
    transform: scale(1.5); 
}

#planrow{
    width:100%
}

#planrow .col{
    width: calc(100%/3);
    margin: 40px 0;
    padding: 0 10px;
}

#planrow .cards{
    border: 2px solid #DBDBDD;
    flex-direction:column;
}

.cardhead {
    text-align: center;
    border-bottom: 2px solid #DBDBDD;
    padding: 10px;
}

.cardmain h3{
    font-size: 1.35rem;
}

.cardhead span, .price{
    font-size: 0.9rem;
}

.costfreq{
    color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
}

.cont-list1 ul, .cont-list2 ul{
    list-style-type: none;
    margin-bottom: 50px;
}

.cont-list1 li{
    padding: 10px 0;
    line-height: 1;
    font-size: 13px;
}

#c2a{
    font-size: 0.9rem;
}

.cont-list2 h4{
    padding: 40px 20px 20px 20px;
}

.cont-list2 li{
    font-size: 0.9rem;
    line-height: 1.25;
    padding: 20px;
}

.cont-list2 i{
    padding-right: 5px;
}

#plancolumn .col{
    width:100%;
}

#plancolumn .cardmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

#plancolumn .cards{
    flex-direction: column;
    border: 2px solid #DBDBDD;
}

#plancolumn p{
    font-size: 0.9rem;
    padding-top: 50px;
}

#plancolumn .left{
    width: 60%;
}

#plancolumn .right{
    margin-top: 10px;
}
/*Footer*/

footer{
    height: 400px;
    background-color: var(--db-black);
}

.fUl{
    padding-top: 50px;
}

.tbold{
    color: var(--db-white);
    font-size: 1rem;
    font-weight: 650;
}

footer ul{
    list-style: none;
    padding: 10px 0;
}

footer li{
    color: var(--db-white);
    font-size: 0.8rem;
}

.moreinfo{
    padding: 5px 0;
}

footer hr{
    color: var(--db-white);
    width: 120px;
    border: 1px solid #ffffff;
}

footer span{
    color: var(--db-white-50);
}

.translation{
    padding-top: 30px;
}

#italian{
    border: none;
    background-color: var(--db-black);
    color: var(--db-white-50);
    padding: 0 5px;
}