/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

.debug header{
    background-color: aquamarine;
}

.debug main{
    background-color: tomato;
}

.debug footer{
    background-color: violet;
}

/*Header*/

header{
    height: 80px;
}

/*Main*/

main{
    height: 100vh;
}

/*Footer*/

footer{
    height: 300px;
}